<!DOCTYPE html>
<html lang="eng" style = "overflow-y: hidden;">  
<head>
    <title>CarSpotters</title>
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/assets/CARSPOTTERIMGLOGO.png">
    <link rel="stylesheet" type="text/css" href="/stylesheet/mobile.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/pc.css">
    <script src="https://kit.fontawesome.com/a74a21bfbd.js" crossorigin="anonymous"></script>
</head>

<div class = "navbar">
    <div class = "web-logo">
        <img src = "/assets/CARSPOTTERIMG.png" alt = "CarSpotters">
    </div>
</div>

<div class = "sidenav">
    <a href = "/"><i class="fa-solid fa-home"></i>Home</a>
    <a href = "map" ><i class="fa-solid fa-map"></i>Explore</a>
    <a href = "notify"><i class ="fa-solid fa-bell"></i>Notifications</a>
    <a href = "messages"><i class="fa-solid fa-envelope"></i>Messages</a>
    <a href = "favourites"><i class="fa-solid fa-star"></i>Favourites</a>
    <a href="/create"><i class="fa-solid fa-plus"></i>Create</a>
</div>

<div class = "main-container">
    <div class = "account-container">
        <% if (isAccountOwner) { %>
        <div class = "settings-icon-container">
            <form action = "/settings/<%=user._id%>" method = "GET">
                <button>
                    <div class = "settings-icon">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                </button>
            </form>
        </div>
        <% } else { %>
            <div class = "settings-icon-container" style="height: 8.44%"></div> <!--very bad practice, fix later-->
        <% } %>
        <div class = "account-details">
            <div class="profile-picture-container">
                <% if (isAccountOwner) { %>
                    <label class="-label" for = "file">
                        <span>Change Picture</span>
                    </label>
                    <input id="file" type="file" onchange="loadFile(event);"/>
                <% } %>
                <div class = "profile-picture">
                    <img src = "<%=user.photo%>" alt = "" id = "output">
                </div>
            </div>
            <h3><%=user.username%></h3>
            <p><%=user.bio%></p>
        
            <div class = "account-stats-container">
                <div class = "account-stats">
                    <p>Followers 
                        <% if ((!isAccountOwner) && (userID._id != "0")){ %>  
                        <button type="checkbox" id="follow">
                            <label id = "followButton" for="follow">
                                <% if (user.followers.includes(userID.username)) { %>
                                    <i class="fa-solid fa-check"></i>
                                <% } else { %>
                                    <i class="fa-solid fa-plus"></i>
                                <% } %>
                            </label>
                        </button>
                        <% } %>
                        <br><div id = "followerCount"><%=user.followers.length%></div>
                    </p>
                    
                </div>
                <div class = "account-stats">
                    <p>Posts<br><%=user.postIDs.length%></p>
                </div>
                <div class = "account-stats">
                    <p>Following<br><%=user.following.length%></p>
                </div>
            </div>
        </div>
        <form action = "/viewAllPosts/<%=user.username%>" method = "GET" id = "viewPosts" ></form>
        <div class = "preview-container">
            <% if (user.postIDs.length > 0) { %>
            <button form="viewPosts">
            <% } %>
            <% if (user.postPhotos.length > 0) { %>
                <div class = "post-preview">
                    <% for (let i = 0; i <= 3; i++) { %>
                        <% if (user.postPhotos[i] != undefined) { %>
                            <div class = "post-item">
                                <img class = "img-preview"src = "<%=user.postPhotos[i]%>" alt = "Post">
                            </div>
                        <% } else { %>
                            <div class = "post-item">
                                <h2>?</h2>
                            </div>
                        <% } %>
                    <% } %>
                    <div class = "hover-container">
                        <h3>Click to View Posts</h3>
                        <div class = "arrow"></div>
                    </div>
                </div>
            <% } else { %>
                <h3 class = "no-post-preview">No posts yet!</h3>
            <% } %>
            </button>
        </div>
    </div>
</div>
<script src = "/javascript/script.js"></script>
<script>
    document.getElementById("follow").addEventListener("click", function(){
        if ("<%=userID._id%>" != 0){
            followUser("<%=user._id%>", "<%=userID._id%>");
        }
    });
</script>
</html>