<!DOCTYPE html>
<html lang="eng" style = "overflow-y: hidden;">  
<head>
    <title>CarSpotters</title>
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/assets/CARSPOTTERIMGLOGO.png">
    <link rel="stylesheet" type="text/css" href="/stylesheet/mobile.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/pc.css">
    <script src="https://kit.fontawesome.com/a74a21bfbd.js" crossorigin="anonymous"></script>
</head>

<div class = "navbar">
    <img src = "/assets/CARSPOTTERIMG.png" alt = "CarSpotters">
    <div class="search-container"></div>
</div>

<div class = "sidenav">
    <a href = "/"><i class="fa-solid fa-home"></i>Home</a>
    <a href = "map" ><i class="fa-solid fa-map"></i>Explore</a>
    <a href = "notify"><i class ="fa-solid fa-bell"></i>Notifications</a>
    <a href = "messages"><i class="fa-solid fa-envelope"></i>Messages</a>
    <a href = "favourites"><i class="fa-solid fa-star"></i>Favourites</a>
    <a href="/create"><i class="fa-solid fa-plus"></i>Create</a>
</div>

<div class = "main-container">
    <div class = "account-container">
        <% if (JSON.stringify(user._id) == JSON.stringify(userID._id)) { %>
        <div class = "settings-icon-container">
            <form action = "/settings/<%=user._id%>" method = "GET">
                <button>
                    <div class = "settings-icon">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                </button>
            </form>
        </div>
        <% } else { %>
            <div class = "settings-icon-container" style="height: 8.44%"></div> <!--very bad practice, fix later-->
        <% } %>
        <div class = "account-details">
            <div class="profile-picture">
                <% if (JSON.stringify(user._id) == JSON.stringify(userID._id)) { %>
                <a href = "/change-profile-picture" style="text-decoration: none;">
                    <button for = "editProfilePicture">
                        <div class = "gears">
                            <i class="fa-solid fa-gear"></i>
                            <i class="fa-solid fa-gear" id = "outline"></i>
                        </div>
                        <i class="fa-solid fa-circle" id = "inner"></i>
                    </button>
                </a>
                <% } %>
                <i class="fa-solid fa-circle-user"></i>
            </div>
            <h3><%=user.username%></h3>
            <p><%=user.bio%></p>
        
            <div class = "account-stats-container">
                <div class = "account-stats">
                    <p>Followers<br><%=user.followersCount%></p>
                </div>
                <div class = "account-stats">
                    <p>Posts<br><%=user.postCount%></p>
                </div>
                <div class = "account-stats">
                    <p>Following<br><%=user.followingCount%></p>
                </div>
            </div>
        </div>
        <form action = "/viewAllPosts/<%=user.username%>" method = "GET" id = "viewPosts" >
        </form>
        <div class = "preview-container">
            <% if (user.postIDs.length > 0) { %>
            <button form="viewPosts">
            <div class = "hover-container">
                <h3>Click to View Posts</h3>
                <div class = "arrow"></div>
            </div>
            <% } %>
            <% if (user.postIDs.length > 0) { %>
                <div class = "post-preview">
                    <% for (let i = 0; i <=3; i++) { %>
                        <% if (user.postIDs[i] != undefined) { %>
                            <div class = "post-item">
                                <img class = "img-preview"src = "<%=user.postIDs[i]%>" alt = "Post">
                            </div>
                        <% } else { %>
                            <div class = "post-item">
                                <h2>?</h2>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            <% } else { %>
                <h3 class = "no-post-preview">No posts yet!</h3>
            <% } %>
            </button>
        </div>
    </div>
</div>

</html>