<!DOCTYPE html>
<html lang="eng">  
<head>
    <title>CarSpotters</title>
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/assets/CARSPOTTERIMGLOGO.png">
    <link rel="stylesheet" type="text/css" href="/stylesheet/mobile.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/pc.css">
    <script src="https://kit.fontawesome.com/a74a21bfbd.js" crossorigin="anonymous"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
</head>

<body>
    <div class = "navbar" id="navbar">
        <div class = "web-logo">
            <img src = "/assets/CARSPOTTERIMG.png" alt = "CarSpotters">
        </div>
    
        <ul>
            <div class = "dropdown">
                <button class = "dropbtn">
                    <div class = "icon">
                        <img src = "<%=user.photo%>" alt = "">
                    </div>
                </button>
                <div class = "dropdown-content">
                    <a href = "/account/<%=user._id%>" method="GET" id="account">Account</a>
                    <a href = "/settings/<%=user._id%>" method="GET" id="settings">Settings</a>
                    <a href = "/" method="GET" id="home">Home</a>
                    <a href = "/logout" method="POST" id="logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
                    
                    <form id="logout-form" action="/logout" method="POST" style="display: none;"></form>
                </div>
            </div>
        </ul>

        <!--
        <div class = "error-container">
                <div class = "error-alert">
                    <p>test</p>
                </div>
        </div>
        -->
    </div>

    <div class = "sidenav">
        <a href = "/"><i class="fa-solid fa-home"></i>Home</a>
        <a href = "map"><i class="fa-solid fa-map"></i>Explore</a>
        <a href = "notify"><i class ="fa-solid fa-bell"></i>Notifications</a>
        <a href = "messages" class = "selected"><i class="fa-solid fa-envelope"></i>Messages</a>
        <a href = "favourites"><i class="fa-solid fa-star"></i>Favourites</a>
        <a href="create"><i class="fa-solid fa-plus"></i>Create</a>    
    </div>

    <div class = "main-container">
        <div class = "create-message-container" style="display: none;">
            <div class = "create-message">
                <form action="/sendMessage" method="POST" id="submitForm">
                    <div class="user-search">
                        <input id = "input" type="text" placeholder="Search for user" maxlength="40" id="searchUser">
                        <input type="hidden" name="receiver" id="receiver" value = >
                        <div name="user" id="user" class = "user-dropdown" style="display:none">
                           <!--new created here-->
                        </div>
                    </div>
                    <textarea id = "message" name="message" placeholder="Type your message here" maxlength="250" ></textarea>
                    <div class="create-message-buttons">
                        <button id="cancelMessage" type="button" onclick="closeCreation()">Back</button>
                        <button id="sendMessage" type="submit">Send</button>
                    </div>
                    <input type="hidden" name="sender" value="<%= user.username %>">
                </form>
            </div>
        </div>

        <div class = "message-container">
            <div class = "message-header">
                <div class = "message-title">
                    <h1>Messages</h1>
                </div>

                <div class = "create-new">
                    <button id = "newMessage">
                        <i class="fa-solid fa-plus"></i>
                        <p>Start new Message!</p> 
                    </button>  
                </div>
            </div>

            <div class = "message-dropdown-container">
                <div class = "message-dropdown">
                    <% for (let i = 0; i < messageList.length; i++) { %>
                        <form action = "/viewMessage/<%=messageList[i]._id%>" method = "GET">
                            <button>
                                <div class = "dropdown-content">
                                    <div class = "message-user">
                                        <div class = "image-container">
                                            <img src = "<%=otherUsers[i].photo%>" alt="">
                                        </div>
                                        <p><%=otherUsers[i].username%></p>
                                        <div class = "message-date">
                                            <p><%=messageList[i].messages[messageList[i].messages.length - 1].date%></p>
                                        </div>
                                    </div>
                                    <div class = "recent-message">
                                        <p><%=messageList[i].messages[messageList[i].messages.length - 1].message%></p>
                                    </div>
                                </div>      
                            </button>
                        </form>    
                    <% } %>
                </div>
            </div>      
        </div>
    </div>
</body>

<script src="/javascript/autocomplete.js"></script>
<script>
    var userInput = document.getElementById("input");
    var currentUsername = "<%= user.username %>";
    autocomplete(userInput, JSON.parse('<%- JSON.stringify(usernames) %>'), currentUsername);

    document.getElementById("newMessage").addEventListener("click", function(){
        document.querySelector(".create-message-container").style.display = "block";
    });

    function closeCreation(){
        document.querySelector(".create-message-container").style.display = "none";
    }

    document.getElementById("input").addEventListener("input", function(){
        if (document.getElementById("input").value == ""){
            document.getElementById("user").style.display = "none";
        } else {
            document.getElementById("user").style.display = "flex";
        }
    });

    document.getElementById("message").addEventListener("input", function(){
        if (document.getElementById("message").value != ""){
            document.getElementById("user").style.display = "none";
        } else {
            document.getElementById("user").style.display = "flex";
        }
    });

    setTimeout(() => {
        document.querySelector('.navbar .error-alert').style.animation = 'fadeBack 1s ease-in-out forwards';
    }, 2500);

</script>
</html>
