<!DOCTYPE html>
<html lang="eng">  
<head>
    <title>CarSpotters</title>
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/assets/CARSPOTTERIMGLOGO.png">
    <link rel="stylesheet" type="text/css" href="/stylesheet/mobile.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/pc.css">
    <script src="https://kit.fontawesome.com/a74a21bfbd.js" crossorigin="anonymous"></script>
</head>

<body>
<div class = "navbar">
    <div class = "web-logo">
        <img src = "/assets/CARSPOTTERIMG.png" alt = "CarSpotters">
    </div>  
    <div class="search-container">
    </div>
</div>

<form action = "/account/<%=post.usernameID%>" method = "GET" id = "viewAccount" name = "viewAccount">
<div class = "main-container">
    <div id = "post-container" style="width: 90%; min-height: 100vh;">
        <div class = "post">
            <div class = "post-header">
                <% if (admin == true || postOwner == true) { %>
                    <div class = "adminOptions">
                        <form action = "/deletePost/<%=post._id%>" method = "POST">
                            <button class = "deletePost">
                                <div class = "tooltip">
                                    <i class="fa-solid fa-trash"></i>
                                    <span class = "tooltiptext">Delete Post</span>
                                </div>
                            </button>
                        </form>     
                    </div>
                <% } %>
                <button for = "viewAccount">
                    <div class = "profile-picture">
                        <img src="assets/tyler.jpg" alt="">
                    </div>
                </button>
              <div class = "post-header-content">
                  <div class = "stack">
                    <button for = "viewAccount">
                        <div class = "profile-name">
                            <h5><%=post.username%></h5>
                        </div>
                    </button>
                      <div class = "post-information">
                          <p>- <%=post.carModel%>, <%=post.carTitle%></p>
                      </div>
                  </div>
                  <div class = "stack">
                      <div class = "description">
                          <p><%=post.description%></p>
                      </div>
                  </div>
              </div>
              <div class = "post-date">
                <p><%=post.date%></p>
              </div>
            </div>
            <div class = "image-container" style="min-height: 80vh;">
                <img src="<%=post.photo%>" alt="">
            </div>

                <div class = "extras-content">
                  <div class = "item">
                    <i class="fas fa-heart"></i>
                    <p><%=post.likes%></p>
                  </div>
                  <div class = "item">
                    <i class="fas fa-star"></i>
                    <p>3</p>
                  </div>
                </div>
        </div>
    </div>  
</div>
</form>
</body>
</html>