<!DOCTYPE html>
<html lang="eng">  
<head>
    <title>CarSpotters</title>
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/assets/CARSPOTTERIMGLOGO.png">
    <link rel="stylesheet" type="text/css" href="/stylesheet/mobile.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/pc.css">
    <script src="https://kit.fontawesome.com/a74a21bfbd.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class = "navbar" id="navbar">
    <div class = "web-logo">
        <img src = "/assets/CARSPOTTERIMG.png" alt = "CarSpotters">
    </div>
    <ul>
      <div class = "dropdown">
        <button class = "dropbtn">
            <div class = "icon">
                <img src = "<%=userID.photo%>" alt = "">
            </div>
        </button>
        <div class = "dropdown-content">
            <a href = "/account/<%=userID._id%>" method="GET" id="account">Account</a>
            <a href = "/settings/<%=userID._id%>" method="GET" id="settings">Settings</a>
            <a href = "/" method="GET" id="home">Home</a>
            <a href = "/logout" method="POST" id="logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
            
            <form id="logout-form" action="/logout" method="POST" style="display: none;"></form>
        </div>
    </div>
    </ul>
  </div>

  <div class = "sidenav">
    <a href = "/"><i class="fa-solid fa-home"></i>Home</a>
    <a href = "/map" ><i class="fa-solid fa-map"></i>Explore</a>
    <a href = "/notify"><i class ="fa-solid fa-bell"></i>Notifications</a>
    <a href = "/messages"><i class="fa-solid fa-envelope"></i>Messages</a>
    <% if (isFavouritePage) {%>
      <a href = "/favourites" class = "selected"><i class="fa-solid fa-star"></i>Favourites</a>
    <% } else {%>
      <a href = "/favourites"><i class="fa-solid fa-star"></i>Favourites</a>
    <% } %>
    <a href="/create"><i class="fa-solid fa-plus"></i>Create</a>
</div>

<div class = "main-container">
    <div id = "post-container">
        <% posts.forEach(function(post){ %>
          <div class = "post">
            <form action = "/viewPost/<%=post._id%>" method = "GET">
              <button>
                <div class = "view-post">
                  <div class = "post-header">    
                    <div class = "profile-picture">
                      <img src="<%=post.owner.photo%>" alt="">
                    </div>
                    <div class = "post-header-content">
                      <div class = "stack">
                        <div class = "profile-name">
                          <h5><%=post.username%></h5>
                        </div>
                        <div class = "post-information">
                          <p>- <%=post.carModel%>, <%=post.carTitle%></p>
                        </div>
                      </div>
                      <div class = "stack">
                          <div class = "description">
                            <p><%=post.description%></p>
                          </div>
                      </div>
                    </div>
                    <div class = "post-date">
                      <p><%=post.date%></p>
                    </div>
                  </div>
                    <div class = "image-container">
                      <img src="<%=post.photo%>" alt="" id = "photo">
                    </div>
                </div>
              </button>
            </form>
              <div class = "extras-content">
                <div class = "item">
                  <button class = "like-button">
                    <label for = "like-button">
                      <i class="fas fa-heart" id = "likeIcon"></i>
                      <p class = "likeCount"><%=post.likes.length%></p>
                    </label>
                  </button>
                </div>
                <div class = "item">
                  <button class = "favourite-button">
                    <label for = "favourite-button">
                      <i class="fas fa-star"></i>
                      <p class = "favouriteCount"><%=post.favourites.length%></p>
                    </label>
                  </button>
                  </div>
              </div>
          </div>
        <% }) %>
        <% if (posts.length > 0) {%>
          <div class = "back">
              <div class = "return">
                <button onclick="window.location.href='/'">Go To Home</button>
              </div>
          </div>
        <% } %>
        </div>
    </div>
    <% if (posts.length == 0) {%>
      <div class = "no-posts">
        <h1>No Posts Found!</h1>
        <h3>To favourite posts, click the star icon on a post.</h3>
      </div>
    <% } %>
</div>
</body>
</html>