<!DOCTYPE html>
<html lang="eng">  
<head>
    <title>CarSpotters</title>
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/assets/CARSPOTTERIMGLOGO.png">
    <link rel="stylesheet" type="text/css" href="/stylesheet/mobile.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/pc.css">
    <script src="https://kit.fontawesome.com/a74a21bfbd.js" crossorigin="anonymous"></script>
</head>

<body>
<div class = "navbar">
    <div class = "web-logo">
        <img src = "/assets/CARSPOTTERIMG.png" alt = "CarSpotters">
    </div>  
    <div class="search-container">
    </div>
</div>


<div class = "main-container">
    <div id = "post-container" style="height: 100vh; width: 75%; border-left: none; border-right: none;">
        <form id = "viewAccount" action = "/account/<%=post.usernameID%>" method = "GET">
            <div class = "post" style="border-bottom: none;">
                    <div class = "view-post">
                      <div class = "post-header">
                        <button style="width: fit-content;" for = "viewAccount">
                            <div class = "tooltip">
                                <div class = "profile-picture">
                                  <img src="<%=postOwnerPhoto%>" alt="">
                                </div>
                                <span class = "tooltiptext">View Account</span>
                            </div>
                        </button>
                    
                        <div class = "post-header-content">
                          <div class = "stack">
                            <div class = "profile-name">
                              <h5><%=post.username%></h5>
                            </div>

                            <div class = "post-information">
                              <p>- <%=post.carModel%>, <%=post.carTitle%></p>
                            </div>
                          </div>
                          <div class = "stack">
                              <div class = "description">
                                <p><%post.description%></p>
                              </div>
                          </div>
                        </div>
                        <div class = "post-date">
                          <p><%=post.date%></p>
                        </div>
                      </div>
                        <div class = "image-container" style="max-height:75vh">
                          <img src="<%=post.photo%>" alt="">
                        </div>
                    </div>
                  <div class = "extras-content">
                    <div class = "item" id = "item">
                      <input class = "like-button" id = "like-button" type = "checkbox"></input>
                        <label for = "like-button">
                          <i class="fas fa-heart"></i>
                          <p><%=post.likes%></p>
                        </label>
                    </div>
                    <div class = "item" id = "item">
                      <input class = "favourite-button" id = "favourite-button" type = "checkbox"></input>
                        <label for = "favourite-button">
                          <i class="fas fa-star"></i>
                          <p>3</p>
                        </label>
                      </div>
                  </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>